body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0; /* Add margin to ensure equal spacing */
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.toggle-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007bff;
}

.toggle-link:hover {
    text-decoration: underline;
}
